/* 
  ----------------------------------------------------------------------
  стилизация первого блока контента и адаптация под малоформатные экраны
  ---------------------------------------------------------------------- 
*/
.btn-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	position: relative;
	bottom: -200px;
	margin: 0 100px;
}
.btn-log-in {
	display: block;
	text-transform: uppercase;
	width: 130px;
	height: 65px;
	line-height: 65px;
	position: relative;
	color: #fff;
	font-family: Trebuchet MS, sans-serif;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
}
.btn-log-in svg {
	position: absolute;
	top: 0;
	left: 0;
}
.btn-log-in svg rect {
	stroke: #fff;
	stroke-width: 1;
	transition: 0.8s;
	stroke-dasharray: 400, 0;
}
.btn-log-in:hover svg rect {
	stroke-width: 5;
	stroke-dasharray: 60, 245;
	stroke-dashoffset: 77;
}
@media (max-width: 1100px) {
  	.btn-box {
  		justify-content: center;
  	}
}
.first-block {
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 30px;
}
.first-table-of-contents {
	font-family: Tahoma, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}
.second-table-of-contents {
	margin-top: -3px;
	font-family: Tahoma, sans-serif;
	font-size: 30px;
}
.third-table-of-contents {
	margin-top: -25px;
	font-family: Tahoma, sans-serif;
	font-size: 30px;
}
.information-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.left-block, 
.right-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 40%;
}
.left-block {
	margin-left: 70px;
}
.right-block {
	margin-right: 70px;
}
.information-text {
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	color: #000;
	line-height: 1.5;
	margin-left: 5px;
}
.information-logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 50%;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: -30px;
}
.images-logo {
	width: 50px;
	height: 50px;
}
.text-logo {
	color: #000;
	font-family: Tahoma, sans-serif;
	font-size: 30px;
}
.table-of-contents-mobile-version {
	display: none;
	font-family: Tahoma, sans-serif;
	font-size: 25px;
	text-transform: uppercase;
}
@media (max-width: 1100px) {
	.table-of-contents-mobile-version {
		display: block;
	}
	.left-block {
		display: none;
	}
	.right-block {
		-ms-align-items: center;
		align-items: center;
		width: 100%;
		margin-right: 0;
	}
	.text-logo {
		display: none;
	}
	.for-mobile-version{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
	}
	.mobile-version-block {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		width: 30%;
	}
	.information-text {
		text-align: center;
	}
	.information-logo {
		justify-content: center;
		margin-bottom: 3px;
		margin-top: 30px;
	}
}
/* 
----------------------------------------------------------------------
конец стилизации первого блока контента

стилизация второго блока контента и адаптация под малоформатные экраны
----------------------------------------------------------------------
*/
.second-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-bottom: 50px;
}
.name-company {
	font-family: Tahoma, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.merit-company {
	font-family: Tahoma, sans-serif;
	font-size: 30px;
}
.privilege-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 70px;
}
.first-privilege,
.second-privilege,
.third-privilege,
.fourth-privilege {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 35%;
	height: 250px;
}
.first-privilege,
.third-privilege {
	border-right: 2px solid #000;
}
.first-privilege,
.second-privilege {
	border-bottom: 2px solid #000;
}
.privilege-logo {
	width: 50px;
	height: 50px;
}
.privilege-text {
	font-family: Tahoma, sans-serif;
	font-size: 25px;
	text-align: center;
}
/* 
--------------------------------------------------------------
конец стилизации второго блока контента
--------------------------------------------------------------
*/
