/* ---------------------------------------------------------------------
   стилизация шапки базового шаблона, адаптация под малоформатные экраны
   ---------------------------------------------------------------------
*/
.header {
  display: inline-block;
	height: 100px;
	width: 100%;
}
.logoBox {
  margin-left: 10px;
  margin-top: 20px;
	position: absolute;
}
.main-text-logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
  color: #000;
	font-family: Trebuchet MS, sans-serif;
  line-height: 1.5;
}
.main-text-logo h1 {
  position: relative;
	margin: 0;
	top: 0;
	left: 25px;
}
.header-nav-logout,
.header-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin-top: 20px;
  width: 350px;
  position: absolute;
  top: 10px;
  right: 30px;
}
.header-nav-logout {
  width: 200px;
}
.text-nav {
	font-family: Trebuchet MS, sans-serif;
	color:#000;
	text-decoration: none;
  font-weight: 600;
	font-size: 17px;
}
.menu-btn {
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	height: 50px;
  	width: 50px;
  	background-color: #fff;
  	border-radius: 50%;
  	position: relative;
  	top: 5px;
  	right: 5px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  	position: absolute;
  	top: 50%;
  	margin-top: -1px;
  	left: 50%;
  	margin-left: -10px;
  	width: 20px;
  	height: 2px;
  	background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  	content: '';
  	-webkit-transition: 0.2s;
  	transition: 0.2s;
}
.menu-btn span::before {
  	-webkit-transform: translateY(-5px);
  	transform: translateY(-5px);
}
.menu-btn span::after {
  	-webkit-transform: translateY(5px);
  	transform: translateY(5px);
}
.menu-btn-active span {
  	height: 0;
}
.menu-btn-active span::before {
  	-webkit-transform: rotate(45deg);
  	transform: rotate(45deg);
}
.menu-btn-active span::after {
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
}
.menu-block {
  	display: none;
  	justify-content: flex-end;
  	-ms-align-items: center;
  	align-items: center;
}
.menu-nav-link {
  	display: inline-block;
  	text-decoration: none;
  	font-family:Trebuchet MS, sans-serif;
  	color: #000;
  	margin-right: 20px;
}
.menu-nav-link:hover {
  	text-decoration: none;
}
.menu-nav {
  	-webkit-transition: 0.2s;
  	transition: 0.2s;
 	-webkit-transform-origin: right center;
 	transform-origin: right center;
  	-webkit-transform: scaleX(0) translateX(20%);
  	transform: scaleX(0) translateX(20%);
  	opacity: 0;
}
.menu-nav-active {
  	-webkit-transform: scaleX(1) translateX(0%);
  	transform: scaleX(1) translateX(0%);
  	opacity: 1;
}
@media (max-width: 1100px) {
  .menu-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .text-nav {
      display: none;
    }
    .header-nav {
      display: none;
    }
}
/* 
  ---------------------------------------
  конец стилизации шапки базового шаблона

  стилизация футера базового шаблона
  ---------------------------------------
 */
.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background-color: #f2f2f2;
  height: 150px;
  width: 100%;
  position: relative;
  bottom: 0;
}
.footer-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 50%;
}
.footer-main-contacts-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.footer-menu-nav-logo-vk-link,
.footer-menu-nav-logo-link {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 35px;
  height: 30px;
}
.footer-menu-nav-logo-vk-link {
  height: 25px;
}
.contacts-data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; 
  -ms-align-items: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 0.5;
  font-family: Trebuchet MS, sans-serif;
  color: #000;
  width: 50%;
}
.inc-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: flex-end;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
}
.inc-block-text {
  font-family: Times New Roman , sans-serif;
  color: #888888;
  font-size: 18px;
}
/* 
  ----------------------------------------
  конец стилизации футера базового шаблона
  ----------------------------------------
 */
