.header-nav {
	width: 450px;
}
.footer {
	top: 1700px;
}
/* 
  ----------------------------------------
  стилизация пользовательского функционала
  ----------------------------------------
 */
.welcome-header {
	text-align: center;
	font-family: Trebuchet MS, sans-serif;
}
.sidebar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 30%;
	height: 300px;
	position: absolute;
	top: 180px;
}
.second-link-sidebar,
.second-link-sidebar-active,
.first-link-sidebar,
.fourth-link-sidebar,
.five-link-sidebar,
.sixth-link-sidebar,
.third-link-sidebar {
	text-decoration: none;
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;
	color: #000;
	padding: 10px;
	border-top: 1px solid #78909c;
	border-bottom: 1px solid #78909c;
}
.second-link-sidebar:hover,
.first-link-sidebar:hover,
.fourth-link-sidebar:hover,
.five-link-sidebar:hover,
.sixth-link-sidebar:hover,
.third-link-sidebar:hover {
	background-color: #546e7a;
	color: #fff;
}
.second-link-sidebar-active,
.first-link-sidebar-active,
.fourth-link-sidebar-active,
.five-link-sidebar-active,
.sixth-link-sidebar-active,
.third-link-sidebar-active {
	background-color: #546e7a;
	color: #fff;
}
.second-link-sidebar {
	background-color: #fff;
	color: #000;
}
.new-logpass-active,
.new-subject,
.info-subject,
.delete-subject,
.insert-user,
.delete-user {
	display: none;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	width: 70%;
	position: absolute;
	right: 0;
}
.new-logpass-active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.new-logpass {
	display: none;
}
.insert-user-active,
.new-subject-active,
.info-subject-active,
.delete-subject-active,
.delete-user-active {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.table-of-contents-new-subject,
.table-of-contents-info-subject,
.table-of-contents-delete-subject,
.table-of-contents-new-logpass ,
.table-of-contents-insert-user,
.table-of-contents-delete-user {
	margin-top: 0;
	font-family: Trebuchet MS, sans-serif;
}
.form-new-subject,
.form-info-subject,
.form-delete-subject,
.form-logpass-user,
.form-insert-user,
.form-delete-user {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	height: 150px;
}
.form-insert-user {
	height: 250px;
}
.form-logpass-user {
	height: 330px;
}
.form-new-subject {
	height: 1600px;
}
.form-info-subject {
	margin-bottom: 50px;
}
.input-new-subject,
.input-info-subject,
.input-delete-subject,
.input-insert-user,
.input-logpass-user,
.input-delete-user {
	height: 30px;
  	width: 250px;
  	border-radius: 5px;
  	border: 1px solid #9e9e9e;
  	margin-bottom: 10px;
}
.button-new-subject,
.button-info-subject,
.button-delete-subject,
.button-logpass-user,
.button-insert-user,
.button-delete-user {
	height: 40px;
  	width: 150px;
  	border-radius: 5px;
  	color: #000;
  	background-color: #fff;
  	border: 1px solid #000;
  	font-family: Trebuchet MS, sans-serif;
  	font-size: 15px;
  	margin-bottom: 10px;
}
.input-new-subject {
	width: 300px;
}
.delete-id,
.paragraph-info-subject,
.paragraph-delete-subject,
.paragraph-new-subject,
.paragraph-insert-user,
.error-paragraph,
.old-paragraph-logpass,
.new-paragraph-logpass {
	font-family: Trebuchet MS, sans-serif;
	font-size: 16px;
}
.paragraph-new-subject {
	margin: 0;
	margin-bottom: 10px;
	font-size: 14px;
	width: 350px;
	text-align: center;
}
.error-paragraph {
	margin: 0;
	margin-bottom: 10px;
	color: red;
}
.show-info-subject {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 800px;
	margin-top: 50px;
}
.paragraph-show-info-subject {
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;
	font-weight: 0;
}
