.services-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 100px;
}
.first-block-content,
.third-block-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.first-block-content {
	width: 600px;
}
.table-of-contents-first-and-third-block {
	font-family: Trebuchet MS, sans-serif;
	font-size: 40px;
	font-weight: 400;
	position: relative;
	top: -15px;
}
.paragraph-first-and-third-block {
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;
	text-align: center;
	position: relative;
	top: -40px;
	width: 600px;
	margin-bottom: 100px;
}
.second-block-content {
	background-image: url(/static/images/services-background.png);
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
	width: 100%;
}
.first-services-second-block {
	position: relative;
	top: 0;
	height: 40%;
}
.first-table-of-contents-second-block {
	font-family: Trebuchet MS, sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	margin-left: 80px;
	margin-top: 70px;
}
.first-paragraph-second-block {
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-left: 80px;
	margin-top: 40px;
	width: 500px;
}
.second-services-second-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;
	position: relative;
	bottom: 0;
	height: 40%;
}
.second-paragraph-second-block {
	font-family: Trebuchet MS, sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	text-align: end;
	margin-right: 80px;
	width: 500px;
}
.second-table-of-contents-second-block {
	font-family: Trebuchet MS, sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	text-align: end;
	margin-right: 80px;
	margin-bottom: 70px;
}
.third-block-content {
	margin-top: 80px;
}
.third-block-img {
	height: 110px;
	width: 90px;
	margin-bottom: 20px;
}