/* ---------------------------------------------------------------------
   стилизация шапки главной страницы, адаптация под малоформатные экраны
   ---------------------------------------------------------------------
*/
.header {
  display: inline-block;
	height: 100px;
	width: 100%;
}
.logoBox {
  margin-left: 10px;
  margin-top: 20px;
	position: absolute;
}
.main-text-logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
  color: #000;
	font-family: Trebuchet MS, sans-serif;
  line-height: 1.5;
}
.main-text-logo h1 {
  position: relative;
	margin: 0;
	top: 0;
	left: 25px;
}
.header-nav-logout,
.header-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
  margin-top: 20px;
	width: 350px;
	position: absolute;
	top: 10px;
	right: 30px;
}
.header-nav-logout {
  width: 200px;
}
.text-nav {
	font-family: Trebuchet MS, sans-serif;
	color:#000;
	text-decoration: none;
  font-weight: 600;
	font-size: 17px;
}
.menu-btn {
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	height: 50px;
  	width: 50px;
  	background-color: #fff;
  	border-radius: 50%;
  	position: relative;
  	top: 5px;
  	right: 5px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  	position: absolute;
  	top: 50%;
  	margin-top: -1px;
  	left: 50%;
  	margin-left: -10px;
  	width: 20px;
  	height: 2px;
  	background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  	content: '';
  	-webkit-transition: 0.2s;
  	transition: 0.2s;
}
.menu-btn span::before {
  	-webkit-transform: translateY(-5px);
  	transform: translateY(-5px);
}
.menu-btn span::after {
  	-webkit-transform: translateY(5px);
  	transform: translateY(5px);
}
.menu-btn-active span {
  	height: 0;
}
.menu-btn-active span::before {
  	-webkit-transform: rotate(45deg);
  	transform: rotate(45deg);
}
.menu-btn-active span::after {
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
}
.menu-block {
  	display: none;
  	justify-content: flex-end;
  	-ms-align-items: center;
  	align-items: center;
}
.menu-nav-link {
  	display: inline-block;
  	text-decoration: none;
  	font-family:Trebuchet MS, sans-serif;
  	color: #000;
  	margin-right: 20px;
}
.menu-nav-link:hover {
  	text-decoration: none;
}
.menu-nav {
  	-webkit-transition: 0.2s;
  	transition: 0.2s;
 	-webkit-transform-origin: right center;
 	transform-origin: right center;
  	-webkit-transform: scaleX(0) translateX(20%);
  	transform: scaleX(0) translateX(20%);
  	opacity: 0;
}
.menu-nav-active {
  	-webkit-transform: scaleX(1) translateX(0%);
  	transform: scaleX(1) translateX(0%);
  	opacity: 1;
}
@media (max-width: 1100px) {
  .menu-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .text-nav {
      display: none;
    }
    .header-nav {
      display: none;
    }
}
/* 
  ---------------------------------------
  конец стилизации шапки главной страницы

  стилизация контента главной страницы
  ---------------------------------------
 */
.content-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-top: 10px;
}
.table-of-contents-main-block {
	font-family: Trebuchet MS, sans-serif;
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 35px;
}
.btn-box-logout,
.btn-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}
.btn-log-in {
	display: block;
	width: 130px;
	height: 65px;
	line-height: 65px;
	position: relative;
	color: #000;
	font-family: Trebuchet MS, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}
.btn-log-in svg {
	position: absolute;
	top: 0;
	left: 0;
}
.btn-log-in svg rect {
	stroke: #000;
	stroke-width: 1;
	transition: 0.8s;
	stroke-dasharray: 400, 0;
}
.btn-log-in:hover svg rect {
	stroke-width: 5;
	stroke-dasharray: 61, 245;
	stroke-dashoffset: 77;
}
.main-cards-img {
  width: 500px;
  height: 350px;
}
@media (max-width: 1100px) {
  .content-block {
    justify-content: space-around;
    height: 100vh;
  }
  .table-of-contents-main-block {
    font-size: 80px;
    text-align: center;
    position: relative;
    top: 100px;
  }
  .btn-box {
    justify-content: center;
    position: relative;
    bottom: 50px;
  }
  .btn-log-in svg,
  .btn-log-in {
    width: 300px;
    height: 150px;
  }
  .btn-log-in {
    line-height: 150px;
    text-align: center;
    font-size: 36px;
  }
  .btn-log-in svg rect {
    stroke-dasharray: 900, 0;
    stroke-width: 4;
  }
  .main-cards-img {
    width: 800px;
    height: 550px;
    position: relative;
    bottom: 200px;
  }
}
/* 
  ------------------------------------------
  конец стилизации контента главной страницы

  стилизация модильного окна аутентификации
  ------------------------------------------
 */
 .modal-window {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  top: 0;
 }
 .modal-window-active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0 ;
 }
 .error-modal-window {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 170px;
  width: 400px;
  border-radius: 10px;
 }
 .error-img {
  height: 70px;
  width: 70px;
  margin-top: 20px;
 }
 .form-modal-window {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 250px;
  width: 400px;
  border-radius: 10px;
 }
 .close-btn-modal-window {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 130px;
  right: 400px;
  text-decoration: none;
 }
 .msg {
  font-family: Trebuchet MS, sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: red;
 }
 .text-modal-window {
  font-family: Trebuchet MS, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
 }
 .input-modal-window {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  margin-bottom: 10px;
 }
 .button-modal-window {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
 }
 @media (max-width: 1100px) {
  .close-btn-modal-window {
    top: 650px;
    right: 200px;
  }
 }
 /* 
  -----------------------------------------------
  конец стилизации модального окна аутентификации
  -----------------------------------------------
  */