{% extends 'base.html' %}

{% block content %}
<link type="text/css" href="{{ url_for("static", filename="css/about-company.css") }}" rel="stylesheet">
<div class="first-block">
	<h1 class="first-table-of-contents">О компании</h1>
	<p class="second-table-of-contents">ООО «Processing company» -</p>
	<p class="third-table-of-contents">независимая процессинговая компания</p>
	<div class="information-block">
		<div class="left-block">
			<p class="information-text">OOO «Pocessing company» - сертифицированный
			провайдер услуг платёжных систем. Компания была 
			основана как независимый банковский процессинг
			в 2019 году группой физических лиц.</p>
			<p class="information-text">В настоящий момент в международных платежных
			системах имеет статус независимой процессинговой
			компании, сертифицированного провайдера услуг 
			по эмиссии и эквайрингу карт платежных систем.</p>
			<p class="information-text">В 2019 году «Pocessing company» в очередной раз
			успешно подтвердила соответствие требованиям 
			стандарта безопасности PCI PIN Security Requirements. 
			Реализация требований стандарта позволяет 
			обеспечить защиту PIN-кодов при осуществлении 
			транзакций на всем жизненном цикле: от ввода 
			в банкоматах и POS-терминалах торговых 
			предприятий до их обработки в платежных системах 
			эквайеров и эмитентов.</p>
		</div>
		<div class="right-block">
			<h2 class="table-of-contents-mobile-version">Чего мы добились за 2019 год?</h2>
			<div class="for-mobile-version">
				<div class="mobile-version-block">
					<div class="information-logo">
						<img class="images-logo" src="/static/images/shield.png" alt="">
						<p class="text-logo">В 2019 году</p>
					</div>
					<p class="information-text">пройден плановый аудит и получен
					сертификат PCI PIN Security Requirements
					до 31.03.2021г.</p>
				</div>
				<div class="mobile-version-block">
					<div class="information-logo">
						<img class="images-logo" src="/static/images/mastercard.svg" alt="">
						<p class="text-logo">В 2019 году</p>
					</div>
					<p class="information-text">получена лицензия на осуществление 
					персонализации и процессирования 
					операций по пластиковым картам 
					платежной системы MasterCard.</p>
				</div>
				<div class="mobile-version-block">
					<div class="information-logo">
						<img class="images-logo" src="/static/images/visa.svg" alt="">
						<p class="text-logo">В 2019 году</p>
					</div>
					<p class="information-text">получена лицензия на осуществление 
					персонализации и процессирования 
					операций по пластиковым картам 
					платежной системы VISA.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="second-block">
	<div class="name-company">Processing company</div>
	<div class="merit-company">Мощность, надёжность, стабильность</div>
	<div class="privilege-block">
		<div class="first-privilege">
			<img class="privilege-logo" src="/static/images/gears.jpg" alt="">
			<p class="privilege-text">процессинговые <br> мощности</p>
		</div>
		<div class="second-privilege">
			<img class="privilege-logo" src="/static/images/shield.png" alt="">
			<p class="privilege-text">надёжность <br> сервисов</p>
		</div>
		<div class="third-privilege">
			<img class="privilege-logo" src="/static/images/people.png" alt="">
			<p class="privilege-text">опытные <br> специалисты</p>
		</div>
		<div class="fourth-privilege">
			<img class="privilege-logo" src="/static/images/clock.png" alt="">
			<p class="privilege-text">ежемоментная <br> доступность</p>
		</div>
	</div>
</div>
{% endblock %}
