<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Processing company</title>
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link type="text/css" href="{{ url_for("static", filename="css/base.css") }}" rel="stylesheet">
	<link type="text/css" href="{{ url_for("static", filename="css/normalize.css") }}" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="logoBox">
			<div class="main-text-logo">
				<h1>Processing</h1>
				<h1>company</h1>
			</div>
		</div>
		<div class="menu-block">
        	<nav class="menu-nav">
        		<a class="menu-nav-link" href="/">Главная</a>
          		{% if request.url!="http://127.0.0.1:5000/services" %}
          		<a class="menu-nav-link" href="/services">Услуги</a>
          		{% endif %}
          		{% if request.url!="http://127.0.0.1:5000/about-company" %}
          		<a class="menu-nav-link" href="/about-company">О компании</a>
          		{% endif %}
          		{% if current_user.id %}
          		<a class="menu-nav-link" href="/personal-area">Личный кабинет</a>
          		{% endif %}
        	</nav>
        	<a href="#" class="menu-btn">
            	<span></span>
        	</a>
    	</div>
    	{% if current_user.id %}
			<nav class="header-nav">
				<a class="text-nav" href="/">Главная</a>
				{% if request.url!="http://127.0.0.1:5000/services" %}
				<a class="text-nav" href="/services">Услуги</a>
				{% endif %}
          		{% if request.url!="http://127.0.0.1:5000/about-company" %}
				<a class="text-nav" href="/about-company">О компании</a>
				{% endif %}
				<a class="text-nav" href="/personal-area">Личный кабинет</a>
			</nav>
		{% else %}
			<nav class="header-nav-logout">
				<a class="text-nav" href="/">Главная</a>
				{% if request.url!="http://127.0.0.1:5000/services" %}
				<a class="text-nav" href="/services">Услуги</a>
				{% endif %}
          		{% if request.url!="http://127.0.0.1:5000/about-company" %}
				<a class="text-nav" href="/about-company">О компании</a>
				{% endif %}
			</nav>
		{% endif %}
	</div>
	<div class="content">
        {% block content %} {% endblock %}
    </div>
    <div class="footer">
    	<div class="footer-logo">
			<div class="footer-main-contacts-logo">
				<a href="https://vk.com/public183040523"><img class="footer-menu-nav-logo-vk-link" src="/static/images/vk-logo-black.png" alt=""></a>
	        	<a href="https://web.whatsapp.com/"><img class="footer-menu-nav-logo-link" src="/static/images/whatsapp-logo-black.png" alt=""></a>
			</div>
		</div>
		<div class="contacts-data">
        	<p>processing_company@mail.ru</p>
        	<p>8 (917) 531-89-79</p>
        </div>
        <div class="inc-block">
        	<div class="inc-block-text">
        		<p>ProcessingCompany Inc.</p>
        	</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="/static/js/hamburger-header.js"></script>
</body>
</html>