<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Processing company</title>
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link type="text/css" href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
	<link type="text/css" href="{{ url_for("static", filename="css/normalize.css") }}" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="logoBox">
			<div class="main-text-logo">
				<h1>Processing</h1>
				<h1>company</h1>
			</div>
		</div>
		<div class="menu-block">
        	<nav class="menu-nav">
          		<a class="menu-nav-link" href="/services">Услуги</a>
          		<a class="menu-nav-link" href="/about-company">О компании</a>
          		{% if current_user.id %}
          		<a class="menu-nav-link" href="/personal-area">Личный кабинет</a>
          		{% endif %}
        	</nav>
        	<a href="#" class="menu-btn">
            	<span></span>
        	</a>
    	</div>
    	{% if current_user.id %}
			<nav class="header-nav">
				<a class="text-nav" href="/services">Услуги</a>
				<a class="text-nav" href="/about-company">О компании</a>
				<a class="text-nav" href="/personal-area">Личный кабинет</a>
			</nav>
		{% else %}
			<nav class="header-nav-logout">
				<a class="text-nav" href="/services">Услуги</a>
				<a class="text-nav" href="/about-company">О компании</a>
			</nav>
		{% endif %}
	</div>
	<div class="content-block">
		<h1 class="table-of-contents-main-block">"Processing company" - мы классные! Уверены, что вы тоже!</h1>
		{% if not current_user.id %}
			<div class="btn-box">
				<div class="btn-log-in">
					log in
					<svg width="130" height="65" viewBox="0 0 130 65">
						<rect x="0" y="0" fill="none" width="130" height="65" />
					</svg>
				</div>
			</div>
		{% else %}
			<a style="text-decoration: none;" href="/logout">
				<div class="btn-box-logout">
					<div class="btn-log-in">
						log out
						<svg width="130" height="65" viewBox="0 0 130 65">
							<rect x="0" y="0" fill="none" width="130" height="65" />
						</svg>
					</div>
				</div>
			</a>
		{% endif %}
		<img src="/static/images/cards.png" alt="" class="main-cards-img">
	</div>
	{% if msg %}
		<div class="modal-window-active modal-window">
			<a href="" class="close-btn-modal-window">&times;</a>
			<div class="error-modal-window">
				<img class="error-img" src="/static/images/error.png" alt="">
				<p class="msg">{{ msg }}</p>
			</div>
		</div>
	{% endif %}
	<div class="modal-window">
		<a href="" class="close-btn-modal-window">&times;</a>
		<form class="form-modal-window" method="POST">
			<p class="text-modal-window">введите логин и пароль</p>
 			<input class="input-modal-window" type='text' name='login' placeholder="  логин"/>
 			<input class="input-modal-window" type='password' name='password' placeholder="  пароль"/>
 			<input class="button-modal-window" type='submit' name='submit'/>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="/static/js/hamburger-header.js"></script>
	<script src="/static/js/modal-window.js"></script>
</body>
</html>
