{% extends 'base.html' %}

{% block content %}
<link type="text/css" href="{{ url_for("static", filename="css/normalize.css") }}" rel="stylesheet">
<link type="text/css" href="{{ url_for("static", filename="css/personal-area.css") }}" rel="stylesheet">
<div class="welcome-header">
	<h1>здавствуйте, {{ current_user.name }}</h1>
</div>
<div class="sidebar">
	{% if login == "main_admin" or login_sha1 == "1f5824f08c1b09cf6511dee2352e6f1681f94893" %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/insert" %}
	<a href="#" class="first-link-sidebar-active first-link-sidebar">Добавить нового пользователя</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
	<a href="#" class="first-link-sidebar">Добавить нового пользователя</a>
	{% endif %}
	{% endif %}
	{% if login == "main_admin" or login_sha1 == "1f5824f08c1b09cf6511dee2352e6f1681f94893" %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/delete" %}
	<a href="#" class="third-link-sidebar-active third-link-sidebar">Удалить пользователя</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
	<a href="#" class="third-link-sidebar">Удалить пользователя</a>
	{% endif %}
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
	<a href="#" class="second-link-sidebar-active second-link-sidebar">Изменить логин и пароль</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" %}
	<a href="#" class="second-link-sidebar-active">Изменить логин и пароль</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/new-subject" %}
	<a href="#" class="fourth-link-sidebar-active fourth-link-sidebar">Добавить нового субъекта базы данных</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/insert" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
	<a href="#" class="fourth-link-sidebar">Добавить нового субъекта базы данных</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/info-subject" %}
	<a href="#" class="five-link-sidebar-active five-link-sidebar">Просмотр ПДн субъекта базы данных</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
	<a href="#" class="five-link-sidebar">Просмотр ПДн субъекта базы данных</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
	<a href="#" class="sixth-link-sidebar-active sixth-link-sidebar">Удалить субъекта базы данных</a>
	{% endif %}
	{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or request.url=="http://127.0.0.1:5000/personal-area/info-subject" %}
	<a href="#" class="sixth-link-sidebar">Удалить субъекта базы данных</a>
	{% endif %}
</div>
{% if request.url=="http://127.0.0.1:5000/personal-area/insert" %}
<div class="insert-user-active insert-user">
{% endif %}
{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
<div class="insert-user">
{% endif %}
	<h1 class="table-of-contents-insert-user">Создание нового пользователя</h1>
	<form class="form-insert-user" action="/personal-area/insert" method='POST'>
		<p class="paragraph-insert-user">заполните поля необходимыми данными</p>
		<input class="input-insert-user" name="user_name" placeholder="  имя">
		<input class="input-insert-user" name="login" placeholder="  логин">
		<input class="input-insert-user" type='password' name="password" placeholder="  пароль">
		<p class="error-paragraph">{{ msg_insert }}</p> 
		<input class="button-insert-user" type="submit" value="Добавить">
	</form>
</div>
{% if request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
<div class="new-logpass-active new-logpass">
{% endif %}
{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" %}
<div class="new-logpass-active">
{% endif %}
	<h1 class="table-of-contents-new-logpass">Изменение логина и пароля</h1>
	<form class="form-logpass-user" action="/personal-area/logpass" method='POST'>
		<p class="old-paragraph-logpass">Введите старые логин и пароль</p>
		<input class="input-logpass-user" name="old-login" placeholder="  старый логин">
		<input class="input-logpass-user" type='password' name="old-password" placeholder="  старый пароль">
		<p class="error-paragraph">{{ msg }}</p> 
		<p class="new-paragraph-logpass">введите новый логин и пароль</p>
		<input class="input-logpass-user" name="new-login" placeholder="  новый логин">
		<input class="input-logpass-user" type='password' name="new-password" placeholder="  новый пароль">
		<input class="button-logpass-user" type="submit" value="Изменить">
	</form>
</div>
{% if request.url=="http://127.0.0.1:5000/personal-area/delete" %}
<div class="delete-user-active delete-user">
{% endif %}
{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
<div class="delete-user">
{% endif %}
	<h1 class="table-of-contents-delete-user">удаление пользователя</h1>
	<form class="form-delete-user" action="/personal-area/delete" method='POST'>
		<p class="delete-id">введите ID пользователя, которого хотите удалить</p>
		<input class="input-delete-user" name="user_id" placeholder="  ID">
		<p class="error-paragraph">{{ msg_del }}</p> 
		<input class="button-delete-user" type="submit" value="Удалить">
	</form>
</div>
{% if request.url=="http://127.0.0.1:5000/personal-area/new-subject" %}
<div class="new-subject-active new-subject">
{% endif %}
{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/delete" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
<div class="new-subject">
{% endif %}
	<h1 class="table-of-contents-new-subject">добавление нового субъекта бд</h1>
	<form class="form-new-subject" action="/personal-area/new-subject" method='POST'>
		<p class="error-paragraph">{{ msg_new_subject }}</p>
		<p class="paragraph-new-subject">укажите имя субъекта с большой буквы(пример: Иван)</p>
		<input class="input-new-subject" name="name" value="{{ name }}" placeholder="  имя">
		<p class="error-paragraph">{{ msg_name }}</p>
		<p class="paragraph-new-subject">укажите фамилию субъекта с большой буквы(пример: Иванов)</p>
		<input class="input-new-subject" name="surname" value="{{ surname }}" placeholder="фамилия">
		<p class="error-paragraph">{{ msg_surname }}</p>
		<p class="paragraph-new-subject">укажите отчество субъекта с большой буквы(пример: Иванович)</p>
		<input class="input-new-subject" name="patronymic" value="{{ patronymic }}" placeholder="  отчество">
		<p class="error-paragraph">{{ msg_patronymic }}</p>
		<p class="paragraph-new-subject">укажите номер договора субъекта (пример: 123456789)</p>
		<input class="input-new-subject" name="number_of_contract" value="{{ number_of_contract }}" placeholder="  номер договора">
		<p class="error-paragraph">{{ msg_number_of_contract }}</p>
		<p class="paragraph-new-subject">укажите уровень образования субъекта</p>
		<select name="the_level_of_education" class="input-new-subject">
			<option>среднее</option>
			<option>средне-специальное</option>
			<option>высшее не оконченное</option>
			<option>высшее</option>
		</select>
		<p class="paragraph-new-subject">укажите тип документа об образовании субъекта</p>
		<select name="type_of_document" class="input-new-subject">
			<option>аттестат</option>
			<option>диплом</option>
		</select>
		<p class="paragraph-new-subject">укажите серию и номер документа о образовании субъекта (пример аттестата: 12345678912345, пример диплома: 123456789123)</p>
		<input class="input-new-subject" name="document_series_and_number" value="{{ document_series_and_number }}" placeholder="  серия и номер документа">
		<p class="error-paragraph">{{ msg_document_series_and_number }}</p>
		<p class="paragraph-new-subject">укажите дату выдачи документа о образовании субъекта (пример аттестата: 01.01.2000)</p>
		<input class="input-new-subject" name="date_of_issue" value="{{ date_of_issue }}" placeholder="  дата выдачи">
		<p class="error-paragraph">{{ msg_date_of_issue }}</p>
		<input class="input-new-subject" name="who_issued_the_document" value="{{ who_issued_the_document }}" placeholder="  кем выдан">
		<input class="input-new-subject" name="type_and_name_of_educational_institution" value="{{ type_and_name_of_educational_institution }}" placeholder="  тип и наименование учебного учреждения">
		<input class="input-new-subject" name="training_direction_or_specialty" value="{{ training_direction_or_specialty }}" placeholder="  специальность">
		<p class="paragraph-new-subject">укажите квалификацию субъекта</p>
		<select name="document_qualification" class="input-new-subject">
			<option>бакалавриат</option>
			<option>специалитет</option>
			<option>магистратура</option>
			<option>аспирантура</option>
		</select>
		<p class="paragraph-new-subject">укажите информацию о военной службе субъекта</p>
		<select name="information_about_military_registration" class="input-new-subject">
			<option>служил</option>
			<option>не служил</option>
			<option>не годен</option>
		</select>
		<p class="paragraph-new-subject">укажите учебный курс субъекта</p>
		<select name="class" class="input-new-subject">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
		<p class="paragraph-new-subject">укажите номер зачётной книги субъекта (пример: БС1-11-111)</p>
		<input class="input-new-subject" name="student_ticket_registration_number" value="{{ student_ticket_registration_number }}" placeholder="  номер зачётной книги">
		<p class="error-paragraph">{{ msg_student_ticket_registration_number }}</p>
		<input class="input-new-subject" name="place_of_work" value="{{ place_of_work }}" placeholder="  место работы">
		<input class="input-new-subject" name="position" value="{{ position }}" placeholder="  должность">
		<p class="paragraph-new-subject">укажите тип документа о работе субъекта</p>
		<select name="type_of_work_document" class="input-new-subject">
			<option>трудовая книга</option>
			<option>трудовой контракт</option>
			<option>нет</option>
		</select>
		<p class="paragraph-new-subject">укажите стаж работы субъекта в годах (пример: 1) если субъект не имеет стажа, то впишите "0"</p>
		<input class="input-new-subject" name="information_about_the_experience" value="{{ information_about_the_experience }}" placeholder="  стаж">
		<p class="error-paragraph">{{ msg_information_about_the_experience}}</p>
		<p class="paragraph-new-subject">укажите номер договора о платных услугах субъекта (пример: 123456789) если договор отсутствует впишите -</p>
		<input class="input-new-subject" name="contract_number_for_the_provision_of_paid_services" value="{{ contract_number_for_the_provision_of_paid_services }}" placeholder="  номер документа о платных услугах">
		<p class="error-paragraph">{{ msg_contract_number_for_the_provision_of_paid_services }}</p>
		<p class="paragraph-new-subject">укажите дату заключения договора о платных услугах субъекта (пример аттестата: 01.01.2000) если договор отсутствует впишите -</p>
		<input class="input-new-subject" name="date_of_conclusion_of_the_contract_for_the_provision_of_paid_ser" value="{{ date_of_conclusion_of_the_contract_for_the_provision_of_paid_ser }}" placeholder="  дата заключения договора">
		<p class="error-paragraph">{{ msg_date_of_conclusion_of_the_contract_for_the_provision_of_paid_ser }}</p>
		<input class="button-new-subject" type="submit" value="Добавить">
	</form>
</div>
{% if request.url=="http://127.0.0.1:5000/personal-area/info-subject" %}
<div class="info-subject-active info-subject">
{% endif %}
{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete" or request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
<div class="info-subject">
{% endif %}
	<h1 class="table-of-contents-info-subject">просмотр ПДн субъекта БД</h1>
	<form class="form-info-subject" action="/personal-area/info-subject" method='POST'>
		<p class="paragraph-info-subject">введите ID субъекта, о котором хотите увидеть информацию</p>
		<input class="input-info-subject" name="subject_ID" placeholder="  ID">
		<p class="error-paragraph">{{ msg_info_subject }}</p> 
		<input class="button-info-subject" type="submit" value="Просмотреть">
	</form>
	{% if request.url=="http://127.0.0.1:5000/personal-area/info-subject" %}
	{% if result!=None %}
	<h1 class="table-of-contents-info-subject">ПДн субъекта БД</h1>
	<div class="show-info-subject">
		<div class="first-block-show-info-subject">
			<p class="paragraph-show-info-subject">Имя: </p>
			<p class="paragraph-show-info-subject">Фамилия: </p>
			<p class="paragraph-show-info-subject">Отчество: </p>
			<p class="paragraph-show-info-subject">Номер договора: </p>
			<p class="paragraph-show-info-subject">Уровень образования: </p>
			<p class="paragraph-show-info-subject">Тип документа об образовании: </p>
			<p class="paragraph-show-info-subject">Серия и номер документа об образовании: </p>
			<p class="paragraph-show-info-subject">Дата выдачи документа об образовании: </p>
			<p class="paragraph-show-info-subject">Кем выдан документ об образовании: </p>
			<p class="paragraph-show-info-subject">Тип и наименование учебного учреждения: </p>
			<p class="paragraph-show-info-subject">Специальность: </p>
			<p class="paragraph-show-info-subject">Квадификация: </p>
			<p class="paragraph-show-info-subject">Информация о военской службе: </p>
			<p class="paragraph-show-info-subject">Учебный курс: </p>
			<p class="paragraph-show-info-subject">Номер зачётной книги: </p>
			<p class="paragraph-show-info-subject">Место работы: </p>
			<p class="paragraph-show-info-subject">Должность: </p>
			<p class="paragraph-show-info-subject">Тип документа о работе: </p>
			<p class="paragraph-show-info-subject">Стаж работы: </p>
			<p class="paragraph-show-info-subject">номер документа о платных услугах: </p>
			<p class="paragraph-show-info-subject">дата заключения договора о платных услугах: </p>
		</div>
		<div class="second-block-show-info-subject">
			<p class="paragraph-show-info-subject">{{ result[0] }}</p>
			<p class="paragraph-show-info-subject">{{ result[1] }}</p>
			<p class="paragraph-show-info-subject">{{ result[2] }}</p>
			<p class="paragraph-show-info-subject">{{ result[3] }}</p>
			<p class="paragraph-show-info-subject">{{ result[4] }}</p>
			<p class="paragraph-show-info-subject">{{ result[5] }}</p>
			<p class="paragraph-show-info-subject">{{ result[6] }}</p>
			<p class="paragraph-show-info-subject">{{ result[7] }}</p>
			<p class="paragraph-show-info-subject">{{ result[8] }}</p>
			<p class="paragraph-show-info-subject">{{ result[9] }}</p>
			<p class="paragraph-show-info-subject">{{ result[10] }}</p>
			<p class="paragraph-show-info-subject">{{ result[11] }}</p>
			<p class="paragraph-show-info-subject">{{ result[12] }}</p>
			<p class="paragraph-show-info-subject">{{ result[13] }}</p>
			<p class="paragraph-show-info-subject">{{ result[14] }}</p>
			<p class="paragraph-show-info-subject">{{ result[15] }}</p>
			<p class="paragraph-show-info-subject">{{ result[16] }}</p>
			<p class="paragraph-show-info-subject">{{ result[17] }}</p>
			<p class="paragraph-show-info-subject">{{ result[18] }}</p>
			<p class="paragraph-show-info-subject">{{ result[19] }}</p>
			<p class="paragraph-show-info-subject">{{ result[20] }}</p>
		</div>
	</div>
	{% endif %}
	{% endif %}
</div>
{% if request.url=="http://127.0.0.1:5000/personal-area/delete-subject" %}
<div class="delete-subject-active delete-subject">
{% endif %}
{% if request.url=="http://127.0.0.1:5000/personal-area/logpass" or request.url=="http://127.0.0.1:5000/personal-area" or request.url=="http://127.0.0.1:5000/personal-area/insert" or request.url=="http://127.0.0.1:5000/personal-area/new-subject" or  request.url=="http://127.0.0.1:5000/personal-area/info-subject" or request.url=="http://127.0.0.1:5000/personal-area/delete" %}
<div class="delete-subject">
{% endif %}
	<h1 class="table-of-contents-delete-subject">удаление субъекта</h1>
	<form class="form-delete-subject" action="/personal-area/delete-subject" method='POST'>
		<p class="paragraph-show-delete-subject">введите ID субъекта, которого хотите удалить</p>
		<input class="input-delete-subject" name="subject_id" placeholder="  ID">
		<p class="error-paragraph">{{ msg_delete_subject }}</p> 
		<input class="button-delete-subject" type="submit" value="Удалить">
	</form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/static/js/custom-abilities.js"></script>
{% endblock %}