{% extends 'base.html' %}

{% block content %}
<link type="text/css" href="{{ url_for("static", filename="css/normalize.css") }}" rel="stylesheet">
<link type="text/css" href="{{ url_for("static", filename="css/services.css") }}" rel="stylesheet">
<div class="services-content">
	<div class="first-block-content">
		<img src="/static/images/certification.jpg" alt="">
		<h1 class="table-of-contents-first-and-third-block">Сертификация</h1>
		<p class="paragraph-first-and-third-block">Сопровождение на полном цикле сертификационного
			процесса: подача заявки / регистрация / подготовка
			документов для аудита / поддержка в период аудита / 
			информирование о статусе и результатах / 
			формирование отчетов и свидетельств
		</p>
	</div>
	<div class="second-block-content">
		<div class="first-services-second-block">
			<h1 class="first-table-of-contents-second-block">Разработка бизнеспланов и технологических решений</h1>
			<p class="first-paragraph-second-block">Определение целей / Сбор и анализ информации / 
				Разработка вариантов бизнес - плана / Согласование. 
				На разных этапах привлекаются квалифицированные 
				специалисты разного профиля от технических 
				до бизнес - аналитиков
			</p>
		</div>
		<div class="second-services-second-block">
			<p class="second-paragraph-second-block">Проводим независимую оценку содержательной 
				стороны подготовленных решений: использованные 
				методики / учет требований / организация процесса / 
				соответствие корпоративным требованиям / анализ 
				представленных документов и решений.
			</p>
			<h1 class="second-table-of-contents-second-block">Независимая экспертиза бизнес-решений</h1>
		</div>
	</div>
	<div class="third-block-content">
		<img src="/static/images/Castle.jpg" alt="" class="third-block-img">
		<h1 class="table-of-contents-first-and-third-block">Информационно - техническая безопасность</h1>
		<p class="paragraph-first-and-third-block">Обследование и составление рекомендаций для защиты 
			информационной среды клиента. Мы знаем 
			требования регуляторов и следим за изменениями. 
			Проведем обучение Ваших сотрудников.
		</p>
	</div>
</div>
{% endblock %}